@import "../mixin/component";


form {
    @include box-simple();
    @include form ();
    input[type=submit] {
        @include button-gradient();
    }
    label:first-child {
        display: block;
    }
    .#{$formErrorClass} {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        list-style: none;
        color: $formErrorColor;
    }
}
@media screen and (min-width: 800px) {
    form {
        label:first-child {
            display: inline-block;
            width: 250px;
            margin-right: 10px;
            text-align: right;
        }
        input[type=checkbox]:first-child,
        .#{$formErrorClass} {
            margin-left: 265px;
        }
    }
}
