@import "../mixin/layout";
@import "../mixin/style";
@import "../mixin/component";


body {
    padding: 0;
    @if $bodyBackground != #fff { background: $bodyBackground; }
    > header > div,
    > section > div,
    > footer > div {
        @include container-center();
    }
}

a {
    color: #08c;
}

@media screen and (max-width: 1000px) {
    body {
        padding: 0;
        > header > div,
        > section > div,
        > footer > div {
            @include container-padded();
        }
    }
}

body > header {
    color: #fff;
    padding: 0;
    @include gradient-vertical();
    * {
        font-size: 100%;
    }
    > div {
        @include navigation-horizontal();
        > h1 {
            margin: 0;
            font-weight: normal;
        }
    }
}

body > section,
body > footer {
    a:hover,
    a:active {
        color: #005580;
    }
}
