@import "style";


/*
    namespace: buttons
    description: Adds button common styles.
    params:
        - $padding
        - $color
        - $hoverColor
        - $borderColor
        - $radius
        - $shadow
*/
@mixin button-base(
    $padding: $buttonPadding,
    $color: $buttonColor,
    $hoverColor: $buttonHoverColor,
    $borderColor: $buttonBorderColor,
    $radius: $buttonRadius,
    $shadow: $buttonShadow
) {
    display: inline-block;
    padding: $padding;
    color: $buttonColor;
    @include border($borderColor);
    @include border-radius($radius);
    @include box-shadow($shadow);
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        color: $hoverColor;
    }
}
/*
    namespace: buttons
    description: Sets an element as a basic button.
    params:
        - $padding
        - $color
        - $hoverColor
        - $borderColor
        - $radius
        - $shadow
        - $background
        - $hoverBackground
    code: input[type=submit] { @include button(); }
    demo: >
        <p><a href="#" class="button">I'm a link</a></p>
        <p><input type="submit" value="I'm an input[type=submit]" class="button" /></p>
*/
@mixin button(
    $padding: $buttonPadding,
    $color: $buttonColor,
    $hoverColor: $buttonHoverColor,
    $borderColor: $buttonBorderColor,
    $radius: $buttonRadius,
    $shadow: $buttonShadow,
    $background: $buttonBackground,
    $hoverBackground: $buttonHoverBackground
) {
    @include button-base(
        $padding,
        $color,
        $hoverColor,
        $borderColor,
        $radius,
        $shadow
    );
    background: $background;
    &:hover,
    &:focus,
    &:active {
        background: $hoverBackground;
    }
}
/*
    namespace: buttons
    description: Sets an element as a button with gradient background.
    params:
        - $padding
        - $color
        - $hoverColor
        - $borderColor
        - $radius
        - $shadow
        - $startColor
        - $endColor
        - $hoverStartColor
        - $hoverEndColor
    code: input[type=submit] { @include button-gradient(); }
    demo: >
        <p><a href="#" class="button-gradient">I'm a link</a></p>
        <p><input type="submit" value="I'm an input[type=submit]" class="button-gradient" /></p>
*/
@mixin button-gradient(
    $padding: $buttonPadding,
    $color: $buttonColor,
    $hoverColor: $buttonHoverColor,
    $borderColor: $buttonBorderColor,
    $radius: $buttonRadius,
    $shadow: $buttonShadow,
    $startColor: $buttonStartColor,
    $endColor: $buttonEndColor,
    $hoverStartColor: $buttonHoverStartColor,
    $hoverEndColor: $buttonHoverEndColor
) {
    @include button-base(
        $padding,
        $color,
        $hoverColor,
        $borderColor,
        $radius,
        $shadow
    );
    @include gradient-vertical($startColor, $endColor);
    &:hover,
    &:focus,
    &:active {
        @include gradient-vertical($hoverStartColor, $hoverEndColor);
    }
}
/*
    namespace: boxes
    description: Adds box common styles.
    params:
        - $padding
        - $radius
*/
@mixin box-base(
    $padding: $boxPadding,
    $radius: $boxRadius
) {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: $padding;
    @include border-radius($radius);
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
/*
    namespace: boxes
    description: Adds box color styles.
    params:
        - $color
        - $borderColor
        - $background
*/
@mixin box-colors(
    $color: $boxColor,
    $borderColor: $boxBorderColor,
    $background: $boxBackground
) {
    color: $color;
    @include border($borderColor);
    background: $background;
}
/*
    namespace: boxes
    description: Sets an element as a basic box.
    params:
        - $padding
        - $color
        - $borderColor
        - $radius
        - $background
    code: body > section > div { @include box(); }
*/
@mixin box(
    $padding: $boxPadding,
    $color: $boxColor,
    $borderColor: $boxBorderColor,
    $radius: $boxRadius,
    $background: $boxBackground
) {
    @include box-base($padding, $radius);
    @include box-colors($color, $borderColor, $background);
}
/*
    namespace: boxes
    description: Adds success colors to a box.
    params:
        - $color
        - $borderColor
        - $background
    code: >
        .success {
            @include box-base();
            @include box-colors-success();
        }
    demo: >
        <p class="success">I'm a success box.</p>
*/
@mixin box-colors-success(
    $color: $successColor,
    $borderColor: $successColor,
    $background: $successBackground
) {
    @include box-colors($color, $borderColor, $background);
}
/*
    namespace: boxes
    description: Adds error colors to a box.
    params:
        - $color
        - $borderColor
        - $errorBackground
    code: >
        .error {
            @include box-base();
            @include box-colors-error();
        }
    demo: >
        <p class="error">I'm an error box.</p>
*/
@mixin box-colors-error(
    $color: $errorColor,
    $borderColor: $errorColor,
    $background: $errorBackground
) {
    @include box-colors($color, $borderColor, $background);
}

/*
    namespace: navigation
    description: Sets an element as an horizontal navigation block.
    params:
        - $color
        - $height
        - $currentBackgroundColor
        - $focusColor
        - $activeClass
    code: >
        body > header > nav {
            @include gradient-vertical();
            @include navigation-horizontal();
        }
    demo: >
        <nav class="navigation-horizontal">
            <ul>
                <li><a href="#">item 1</a></li>
                <li><a href="#">item 2</a></li>
                <li><a href="#" class="current">item 3</a></li>
            </ul>
        </nav>
*/
@mixin navigation-horizontal(
    $color: $navigationColor,
    $height: $navigationHorizontalHeight,
    $currentBackgroundColor: $navigationCurrentBackgroundColor,
    $focusColor: $navigationFocusColor,
    $activeClass: 'current'
) {
    display: block;
    line-height: $height;
    * {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }
    a {
        height: $height;
        padding: 0 0.5em;
        text-decoration: none;
        color: $color;
        &:visited {
            color: $color;
        }
        &:hover,
        &:focus,
        &:active {
            outline: none;
            color: $focusColor;
        }
    }
    .#{$activeClass} {
        background: $currentBackgroundColor;
        &, &:visited {
            color: $focusColor;
        }
    }
}

/*
    namespace: forms
    description: Adds form fields styles.
    params:
        - $width
        - $borderColor
        - $background
        - $radius
*/
@mixin fields (
    $width: $formFieldWidth,
    $borderColor: $formFieldBorderColor,
    $background: $formFieldBackground,
    $radius: $formFieldRadius
) {
    input,
    textarea,
    select {
        display: inline-block;
        @include box-sizing(border-box);
        width: $width;
        padding: 0.3em;
        @include border($borderColor);
        @include border-radius($radius);
        background: $background;
    }
    input[type=checkbox] {
        width: auto;
    }
}
/*
    namespace: forms
    description: Adds form styles.
    params:
        - $fieldWidth
        - $fieldBorderColor
        - $fieldBackground
        - $fieldRadius
        - $lineHeight
*/
@mixin form(
    $fieldWidth: $formFieldWidth,
    $fieldBorderColor: $formFieldBorderColor,
    $fieldBackground: $formFieldBackground,
    $fieldRadius: $formFieldRadius,
    $lineHeight: $formLineHeight
) {
    line-height: $lineHeight;
    fieldset {
        padding: 0;
        border: 0;
        @include fields(
            $fieldWidth,
            $fieldBorderColor,
            $fieldBackground,
            $fieldRadius
        );
    }
    input[type=submit] {
        @include button-gradient();
    }
}
/*
    namespace: tables
    description: Adds table styles.
    demo: >
        <table class="no-border">
            <thead>
                <tr>
                    <th>header 1</th>
                    <th>header 2</th>
                    <th>header 3</th>
                    <th>header 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
            </tbody>
        </table>
    params:
        - $width
        - $borderColor
        - $cellPadding
        - $oddBackground
        - $evenBackground
*/
@mixin table (
    $width: 100%,
    $borderColor: $tableBorderColor,
    $cellPadding: $tableCellPadding,
    $oddBackground: $tableOddBackground,
    $evenBackground: $tableEvenBackground
) {
    max-width: 100%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    tbody > tr {
        @include alternate-background(
            $oddBackground,
            $evenBackground
        );
    }
    thead > tr:first-child > th {
        border-top: 0;
    }
    th,
    td {
        padding: $cellPadding;
        text-align: left;
        border-top: $borderColor 1px solid;
    }
}
/*
    namespace: tables
    description: Adds borders on tables.
    params:
        - $borderColor
        - $radius
*/
@mixin table-borders (
    $borderColor: $tableBorderColor,
    $radius: $tableRadius
) {
    th,
    td {
        border-left: $borderColor 1px solid;
        &:last-child {
            border-right: $borderColor 1px solid;
        }
    }
    > thead > tr:first-child > th {
        border-top: $borderColor 1px solid;
        &:first-child {
            @include border-radius($radius 0 0 0);
        }
        &:last-child {
            border-radius: 0 $radius 0 0;
        }
    }
    tr:last-child td {
        border-bottom: $borderColor 1px solid;
        &:first-child {
        border-radius: 0 0 0 $radius;
        }
        &:last-child {
            border-radius: 0 0 $radius 0;
        }
    }
}
/*
    namespace: tables
    description: Adds bordered table styles.
    demo: >
        <table class="bordered">
            <thead>
                <tr>
                    <th>header 1</th>
                    <th>header 2</th>
                    <th>header 3</th>
                    <th>header 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
            </tbody>
        </table>
    params:
        - $width
        - $borderColor
        - $cellPadding
        - $oddBackground
        - $evenBackground
        - $radius
*/
@mixin table-bordered (
    $width: 100%,
    $borderColor: $tableBorderColor,
    $cellPadding: $tableCellPadding,
    $oddBackground: $tableOddBackground,
    $evenBackground: $tableEvenBackground,
    $radius: $tableRadius
) {
    @include table(
        $width,
        $borderColor,
        $cellPadding,
        $oddBackground,
        $evenBackground
    );
    @include table-borders($borderColor, $radius);
}
