@import "style";


// Container
@mixin container() {
    display: block;
}
@mixin container-center($width: $containerWidth) {
    @include container();
    width: $width;
    margin: 0 auto;
}
@mixin container-padded($padding: $containerPadding) {
    @include container();
    width: auto;
    padding-left: $padding;
    padding-right: $padding;
}

// Grid
@mixin row() {
    padding: 0;
    margin: 0 0 1em 0;
    &:after {
        clear: both;
        display: table;
        content: "";
    }
}
@mixin cell-base(
    $spacing: 2%
) {
    display: block;
    float: left;
    @include box-sizing(border-box);
    margin-right: $spacing;
    margin-top: 0;
    margin-bottom: 0;
    &:last-child {
        margin-right: 0;
    }
}
@mixin cell-width(
    $colspan: 1,
    $columnCount: $rowColumnCount,
    $spacing: 2%
) {
    width: floor((100% - ($columnCount - 1) * $spacing) / $columnCount * $colspan + ($colspan - 1) * $spacing);
}
@mixin cell(
    $colspan: 1,
    $columnCount: $rowColumnCount,
    $spacing: 2%
) {
    @include cell-base($spacing);
    @include cell-width($colspan, $columnCount, $spacing);
}
