/*
    namespace: borders
    description: Adds 1px solid border.
    params:
        - $color
*/
/*
    namespace: borders
    description: Rounds bordes.
    params:
        - $radius
*/
/*
    namespace: borders
    description: Adds box shadow.
    params:
        - $shadow
*/
/*
    namespace: sizing
    description: Sets box sizing.
    params:
        - $sizing
*/
/*
    namespace: gradients
    description: Adds an horizontal gradient background.
    params:
        - $startColor
        - $endColor
*/
/*
    namespace: gradients
    description: Adds a vertical gradient background.
    params:
        - $startColor
        - $endColor
*/
/*
    namespace: gradients
    description: Adds a directional gradient background..
    params:
        - $startColor
        - $endColor
        - $deg
*/
/*
    namespace: gradients
    description: Adds a vertical three color gradient background.
    params:
        - $startColor
        - $endColor
        - $midColor
        - $colorStop
*/
/*
    namespace: gradients
    description: Adds a radial gradient background.
    params:
        - $innerColor
        - $outerColor
*/
/*
    namespace: gradients
    description: Adds a striped gradient background.
    params:
        - $color
        - $angle
*/
/*
    namespace: transformations
    description: Applies transfomation(s).
    params:
        - $transformation
*/
/*
    namespace: background
    description: Alternates background.
    params:
        - $oddBackground
        - $evenBackground
*/
/*
    namespace: transformations
    description: Scales.
    params:
        - $ratio
*/
/*
    namespace: transformations
    description: Translates.
    params:
        - $x
        - $y
*/
/*
    namespace: transformations
    description: Skews.
    params:
        - $x
        - $y
*/
/*
    namespace: transformations
    description: Rotates.
    params:
        - $degrees
*/
/*
    namespace: buttons
    description: Adds button common styles.
    params:
        - $padding
        - $color
        - $hoverColor
        - $borderColor
        - $radius
        - $shadow
*/
/*
    namespace: buttons
    description: Sets an element as a basic button.
    params:
        - $padding
        - $color
        - $hoverColor
        - $borderColor
        - $radius
        - $shadow
        - $background
        - $hoverBackground
    code: input[type=submit] { @include button(); }
    demo: >
        <p><a href="#" class="button">I'm a link</a></p>
        <p><input type="submit" value="I'm an input[type=submit]" class="button" /></p>
*/
/*
    namespace: buttons
    description: Sets an element as a button with gradient background.
    params:
        - $padding
        - $color
        - $hoverColor
        - $borderColor
        - $radius
        - $shadow
        - $startColor
        - $endColor
        - $hoverStartColor
        - $hoverEndColor
    code: input[type=submit] { @include button-gradient(); }
    demo: >
        <p><a href="#" class="button-gradient">I'm a link</a></p>
        <p><input type="submit" value="I'm an input[type=submit]" class="button-gradient" /></p>
*/
/*
    namespace: boxes
    description: Adds box common styles.
    params:
        - $padding
        - $radius
*/
/*
    namespace: boxes
    description: Adds box color styles.
    params:
        - $color
        - $borderColor
        - $background
*/
/*
    namespace: boxes
    description: Sets an element as a basic box.
    params:
        - $padding
        - $color
        - $borderColor
        - $radius
        - $background
    code: body > section > div { @include box(); }
*/
/*
    namespace: boxes
    description: Adds success colors to a box.
    params:
        - $color
        - $borderColor
        - $background
    code: >
        .success {
            @include box-base();
            @include box-colors-success();
        }
    demo: >
        <p class="success">I'm a success box.</p>
*/
/*
    namespace: boxes
    description: Adds error colors to a box.
    params:
        - $color
        - $borderColor
        - $errorBackground
    code: >
        .error {
            @include box-base();
            @include box-colors-error();
        }
    demo: >
        <p class="error">I'm an error box.</p>
*/
/*
    namespace: navigation
    description: Sets an element as an horizontal navigation block.
    params:
        - $color
        - $height
        - $currentBackgroundColor
        - $focusColor
        - $activeClass
    code: >
        body > header > nav {
            @include gradient-vertical();
            @include navigation-horizontal();
        }
    demo: >
        <nav class="navigation-horizontal">
            <ul>
                <li><a href="#">item 1</a></li>
                <li><a href="#">item 2</a></li>
                <li><a href="#" class="current">item 3</a></li>
            </ul>
        </nav>
*/
/*
    namespace: forms
    description: Adds form fields styles.
    params:
        - $width
        - $borderColor
        - $background
        - $radius
*/
/*
    namespace: forms
    description: Adds form styles.
    params:
        - $fieldWidth
        - $fieldBorderColor
        - $fieldBackground
        - $fieldRadius
        - $lineHeight
*/
/*
    namespace: tables
    description: Adds table styles.
    demo: >
        <table class="no-border">
            <thead>
                <tr>
                    <th>header 1</th>
                    <th>header 2</th>
                    <th>header 3</th>
                    <th>header 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
            </tbody>
        </table>
    params:
        - $width
        - $borderColor
        - $cellPadding
        - $oddBackground
        - $evenBackground
*/
/*
    namespace: tables
    description: Adds borders on tables.
    params:
        - $borderColor
        - $radius
*/
/*
    namespace: tables
    description: Adds bordered table styles.
    demo: >
        <table class="bordered">
            <thead>
                <tr>
                    <th>header 1</th>
                    <th>header 2</th>
                    <th>header 3</th>
                    <th>header 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
            </tbody>
        </table>
    params:
        - $width
        - $borderColor
        - $cellPadding
        - $oddBackground
        - $evenBackground
        - $radius
*/
form {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  color: inherit;
  border: 1px #cccccc solid;
  background: #f5f5f5;
  line-height: 2em; }
  form > *:first-child {
    margin-top: 0; }
  form > *:last-child {
    margin-bottom: 0; }
  form fieldset {
    padding: 0;
    border: 0; }
    form fieldset input,
    form fieldset textarea,
    form fieldset select {
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      width: 250px;
      padding: 0.3em;
      border: 1px #cccccc solid;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: white; }
    form fieldset input[type=checkbox] {
      width: auto; }
  form input[type=submit] {
    display: inline-block;
    padding: 0.4em 1em;
    color: inherit;
    border: 1px #cccccc solid;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    text-decoration: none;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, white, #e6e6e6);
    background-image: -ms-linear-gradient(top, white, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, white, #e6e6e6);
    background-image: -o-linear-gradient(top, white, #e6e6e6);
    background-image: linear-gradient(top, white, #e6e6e6);
    background-repeat: repeat-x; }
    form input[type=submit]:hover, form input[type=submit]:focus, form input[type=submit]:active {
      color: inherit; }
    form input[type=submit]:hover, form input[type=submit]:focus, form input[type=submit]:active {
      background-color: #efefef;
      background-image: -moz-linear-gradient(top, #fafafa, #e0e0e0);
      background-image: -ms-linear-gradient(top, #fafafa, #e0e0e0);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e0e0e0));
      background-image: -webkit-linear-gradient(top, #fafafa, #e0e0e0);
      background-image: -o-linear-gradient(top, #fafafa, #e0e0e0);
      background-image: linear-gradient(top, #fafafa, #e0e0e0);
      background-repeat: repeat-x; }
  form input[type=submit] {
    display: inline-block;
    padding: 0.4em 1em;
    color: inherit;
    border: 1px #cccccc solid;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    text-decoration: none;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, white, #e6e6e6);
    background-image: -ms-linear-gradient(top, white, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, white, #e6e6e6);
    background-image: -o-linear-gradient(top, white, #e6e6e6);
    background-image: linear-gradient(top, white, #e6e6e6);
    background-repeat: repeat-x; }
    form input[type=submit]:hover, form input[type=submit]:focus, form input[type=submit]:active {
      color: inherit; }
    form input[type=submit]:hover, form input[type=submit]:focus, form input[type=submit]:active {
      background-color: #efefef;
      background-image: -moz-linear-gradient(top, #fafafa, #e0e0e0);
      background-image: -ms-linear-gradient(top, #fafafa, #e0e0e0);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e0e0e0));
      background-image: -webkit-linear-gradient(top, #fafafa, #e0e0e0);
      background-image: -o-linear-gradient(top, #fafafa, #e0e0e0);
      background-image: linear-gradient(top, #fafafa, #e0e0e0);
      background-repeat: repeat-x; }
  form label:first-child {
    display: block; }
  form .errors {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 1.3em;
    list-style: none;
    color: red; }

@media screen and (min-width: 800px) {
  form label:first-child {
    display: inline-block;
    width: 250px;
    margin-right: 10px;
    text-align: right; }
  form input[type=checkbox]:first-child,
  form .errors {
    margin-left: 265px; } }
