body {
  padding: 0; }
  body > header > div,
  body > section > div,
  body > footer > div {
    display: block;
    width: 955px;
    margin: 0 auto; }

a {
  color: #08c; }

@media screen and (max-width: 1000px) {
  body {
    padding: 0; }
    body > header > div,
    body > section > div,
    body > footer > div {
      display: block;
      width: auto;
      padding-left: 2em;
      padding-right: 2em; } }
body > header {
  color: #fff;
  padding: 0;
  background-color: #474747;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -ms-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(top, #555555, #333333);
  background-repeat: repeat-x; }
  body > header * {
    font-size: 100%; }
  body > header > div {
    display: block;
    line-height: 3em; }
    body > header > div * {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0; }
    body > header > div a {
      height: 3em;
      padding: 0 0.5em;
      text-decoration: none;
      color: #dddddd; }
      body > header > div a:visited {
        color: #dddddd; }
      body > header > div a:hover, body > header > div a:focus, body > header > div a:active {
        outline: none;
        color: white; }
    body > header > div .current {
      background: #111111; }
      body > header > div .current, body > header > div .current:visited {
        color: white; }
    body > header > div > h1 {
      margin: 0;
      font-weight: normal; }

body > section a:hover,
body > section a:active,
body > footer a:hover,
body > footer a:active {
  color: #005580; }
