// Button
$buttonPadding: 0.4em 1em;
$buttonColor: inherit;
$buttonHoverColor: inherit;
$buttonBorderColor: #ccc;
$buttonRadius: 0.3em;
$buttonBackground: #fafafa;
$buttonShadow: 0 1px 1px rgba(255, 255, 255, 0.75);
$buttonStartColor: #fff;
$buttonEndColor: #e6e6e6;

// Box
$boxPadding: 1em;
$boxColor: inherit;
$boxBackground: #f5f5f5;
$boxBorderColor: #ccc;
$boxRadius: 0.5em;

// Navigation
$navigationColor: #ddd;
$navigationHorizontalHeight: 3em;
$navigationCurrentBackgroundColor: #111;
$navigationFocusColor: #fff;

// Form
$formFieldWidth: 250px;
$formFieldBorderColor: #ccc;
$formFieldBackground: #fff;
$formFieldRadius: 3px;
$formLineHeight: 2em;

// Alert
$successColor: #119e00;
$successBackground: #bcffbc;
$errorColor: #f00;
$errorBackground: #ffc6c6;
