// Button
$buttonBorderColor: #ccc;
$buttonPadding: 0.4em 1em;
$buttonRadius: 0.3em;
$buttonBackground: #fafafa;
$buttonShadow: 0 1px 1px rgba(255, 255, 255, 0.75);
$buttonStartColor: #fff;
$buttonEndColor: #e6e6e6;

// Boxe
$boxPadding: 1em;
$boxBackground: #f5f5f5;
$boxBorderColor: #ccc;
$boxRadius: 0.5em;

// Navigation
$navigationColor: #ddd;
$navigationHorizontalHeight: 3em;
$navigationCurrentBackgroundColor: #111;
$navigationFocusColor: #fff;

// Form
$formFieldWidth: 250px;
$formFieldBorderColor: #ccc;
$formFieldBackground: #fff;
$formFieldRadius: 3px;
$formLineHeight: 2em;
