/*
    namespace: borders
    description: Adds 1px solid border.
    params:
        - $color
*/
/*
    namespace: borders
    description: Rounds bordes.
    params:
        - $radius
*/
/*
    namespace: borders
    description: Adds box shadow.
    params:
        - $shadow
*/
/*
    namespace: sizing
    description: Sets box sizing.
    params:
        - $sizing
*/
/*
    namespace: gradients
    description: Adds an horizontal gradient background.
    params:
        - $startColor
        - $endColor
*/
/*
    namespace: gradients
    description: Adds a vertical gradient background.
    params:
        - $startColor
        - $endColor
*/
/*
    namespace: gradients
    description: Adds a directional gradient background..
    params:
        - $startColor
        - $endColor
        - $deg
*/
/*
    namespace: gradients
    description: Adds a vertical three color gradient background.
    params:
        - $startColor
        - $endColor
        - $midColor
        - $colorStop
*/
/*
    namespace: gradients
    description: Adds a radial gradient background.
    params:
        - $innerColor
        - $outerColor
*/
/*
    namespace: gradients
    description: Adds a striped gradient background.
    params:
        - $color
        - $angle
*/
/*
    namespace: transformations
    description: Applies transfomation(s).
    params:
        - $transformation
*/
/*
    namespace: background
    description: Alternates background.
    params:
        - $oddBackground
        - $evenBackground
*/
/*
    namespace: transformations
    description: Scales.
    params:
        - $ratio
*/
/*
    namespace: transformations
    description: Translates.
    params:
        - $x
        - $y
*/
/*
    namespace: transformations
    description: Skews.
    params:
        - $x
        - $y
*/
/*
    namespace: transformations
    description: Rotates.
    params:
        - $degrees
*/
/*
    namespace: containers
    description: Base styles for containers.
*/
/*
    namespace: containers
    description: Sets an element as a center block.
    params:
        - $width
    code: body > section { @include container-center(); }
*/
/*
    namespace: containers
    description: Sets an element as a padded block.
    params:
        - $padding
    code: body > section { @include container-padded(); }
*/
/*
    namespace: grids
    description: Sets an element as a cell container.
*/
/*
    namespace: grids
    description: Adds common cell styles.
    params:
        - $spacing
*/
/*
    namespace: grids
    description: Adds cell dimension styles.
    params:
        - $colspan
        - $columnCount
        - $spacing
*/
/*
    namespace: grids
    description: Sets an element as cell.
    params:
        - $colspan
        - $columnCount
        - $spacing
    code: >
        @media screen and (min-width: 400px) {
            .row {
                @include row();
                 {
                    @include cell(4);
                    &:last-child {
                        @include cell-width(8);
                    }
                }
            }
        }
    demo: >
        <div class="row">
            <p>I'm a cell.</p>
            <p>I'm another cell.</p>
        </div>

*/
/*
    namespace: borders
    description: Adds 1px solid border.
    params:
        - $color
*/
/*
    namespace: borders
    description: Rounds bordes.
    params:
        - $radius
*/
/*
    namespace: borders
    description: Adds box shadow.
    params:
        - $shadow
*/
/*
    namespace: sizing
    description: Sets box sizing.
    params:
        - $sizing
*/
/*
    namespace: gradients
    description: Adds an horizontal gradient background.
    params:
        - $startColor
        - $endColor
*/
/*
    namespace: gradients
    description: Adds a vertical gradient background.
    params:
        - $startColor
        - $endColor
*/
/*
    namespace: gradients
    description: Adds a directional gradient background..
    params:
        - $startColor
        - $endColor
        - $deg
*/
/*
    namespace: gradients
    description: Adds a vertical three color gradient background.
    params:
        - $startColor
        - $endColor
        - $midColor
        - $colorStop
*/
/*
    namespace: gradients
    description: Adds a radial gradient background.
    params:
        - $innerColor
        - $outerColor
*/
/*
    namespace: gradients
    description: Adds a striped gradient background.
    params:
        - $color
        - $angle
*/
/*
    namespace: transformations
    description: Applies transfomation(s).
    params:
        - $transformation
*/
/*
    namespace: background
    description: Alternates background.
    params:
        - $oddBackground
        - $evenBackground
*/
/*
    namespace: transformations
    description: Scales.
    params:
        - $ratio
*/
/*
    namespace: transformations
    description: Translates.
    params:
        - $x
        - $y
*/
/*
    namespace: transformations
    description: Skews.
    params:
        - $x
        - $y
*/
/*
    namespace: transformations
    description: Rotates.
    params:
        - $degrees
*/
/*
    namespace: borders
    description: Adds 1px solid border.
    params:
        - $color
*/
/*
    namespace: borders
    description: Rounds bordes.
    params:
        - $radius
*/
/*
    namespace: borders
    description: Adds box shadow.
    params:
        - $shadow
*/
/*
    namespace: sizing
    description: Sets box sizing.
    params:
        - $sizing
*/
/*
    namespace: gradients
    description: Adds an horizontal gradient background.
    params:
        - $startColor
        - $endColor
*/
/*
    namespace: gradients
    description: Adds a vertical gradient background.
    params:
        - $startColor
        - $endColor
*/
/*
    namespace: gradients
    description: Adds a directional gradient background..
    params:
        - $startColor
        - $endColor
        - $deg
*/
/*
    namespace: gradients
    description: Adds a vertical three color gradient background.
    params:
        - $startColor
        - $endColor
        - $midColor
        - $colorStop
*/
/*
    namespace: gradients
    description: Adds a radial gradient background.
    params:
        - $innerColor
        - $outerColor
*/
/*
    namespace: gradients
    description: Adds a striped gradient background.
    params:
        - $color
        - $angle
*/
/*
    namespace: transformations
    description: Applies transfomation(s).
    params:
        - $transformation
*/
/*
    namespace: background
    description: Alternates background.
    params:
        - $oddBackground
        - $evenBackground
*/
/*
    namespace: transformations
    description: Scales.
    params:
        - $ratio
*/
/*
    namespace: transformations
    description: Translates.
    params:
        - $x
        - $y
*/
/*
    namespace: transformations
    description: Skews.
    params:
        - $x
        - $y
*/
/*
    namespace: transformations
    description: Rotates.
    params:
        - $degrees
*/
/*
    namespace: buttons
    description: Adds button common styles.
    params:
        - $padding
        - $color
        - $hoverColor
        - $borderColor
        - $radius
        - $shadow
*/
/*
    namespace: buttons
    description: Sets an element as a basic button.
    params:
        - $padding
        - $color
        - $hoverColor
        - $borderColor
        - $radius
        - $shadow
        - $background
        - $hoverBackground
    code: input[type=submit] { @include button(); }
    demo: >
        <p><a href="#" class="button">I'm a link</a></p>
        <p><input type="submit" value="I'm an input[type=submit]" class="button" /></p>
*/
/*
    namespace: buttons
    description: Sets an element as a button with gradient background.
    params:
        - $padding
        - $color
        - $hoverColor
        - $borderColor
        - $radius
        - $shadow
        - $startColor
        - $endColor
        - $hoverStartColor
        - $hoverEndColor
    code: input[type=submit] { @include button-gradient(); }
    demo: >
        <p><a href="#" class="button-gradient">I'm a link</a></p>
        <p><input type="submit" value="I'm an input[type=submit]" class="button-gradient" /></p>
*/
/*
    namespace: boxes
    description: Adds box common styles.
    params:
        - $padding
        - $radius
*/
/*
    namespace: boxes
    description: Adds box color styles.
    params:
        - $color
        - $borderColor
        - $background
*/
/*
    namespace: boxes
    description: Sets an element as a basic box.
    params:
        - $padding
        - $color
        - $borderColor
        - $radius
        - $background
    code: body > section > div { @include box(); }
*/
/*
    namespace: boxes
    description: Adds success colors to a box.
    params:
        - $color
        - $borderColor
        - $background
    code: >
        .success {
            @include box-base();
            @include box-colors-success();
        }
    demo: >
        <p class="success">I'm a success box.</p>
*/
/*
    namespace: boxes
    description: Adds error colors to a box.
    params:
        - $color
        - $borderColor
        - $errorBackground
    code: >
        .error {
            @include box-base();
            @include box-colors-error();
        }
    demo: >
        <p class="error">I'm an error box.</p>
*/
/*
    namespace: navigation
    description: Sets an element as an horizontal navigation block.
    params:
        - $color
        - $height
        - $currentBackgroundColor
        - $focusColor
        - $activeClass
    code: >
        body > header > nav {
            @include gradient-vertical();
            @include navigation-horizontal();
        }
    demo: >
        <nav class="navigation-horizontal">
            <ul>
                <li><a href="#">item 1</a></li>
                <li><a href="#">item 2</a></li>
                <li><a href="#" class="current">item 3</a></li>
            </ul>
        </nav>
*/
/*
    namespace: forms
    description: Adds form fields styles.
    params:
        - $width
        - $borderColor
        - $background
        - $radius
*/
/*
    namespace: forms
    description: Adds form styles.
    params:
        - $fieldWidth
        - $fieldBorderColor
        - $fieldBackground
        - $fieldRadius
        - $lineHeight
*/
/*
    namespace: tables
    description: Adds table styles.
    demo: >
        <table class="no-border">
            <thead>
                <tr>
                    <th>header 1</th>
                    <th>header 2</th>
                    <th>header 3</th>
                    <th>header 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
            </tbody>
        </table>
    params:
        - $width
        - $borderColor
        - $cellPadding
        - $oddBackground
        - $evenBackground
*/
/*
    namespace: tables
    description: Adds borders on tables.
    params:
        - $borderColor
        - $radius
*/
/*
    namespace: tables
    description: Adds bordered table styles.
    demo: >
        <table class="bordered">
            <thead>
                <tr>
                    <th>header 1</th>
                    <th>header 2</th>
                    <th>header 3</th>
                    <th>header 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
                <tr>
                    <td>cell 1</td>
                    <td>cell 2</td>
                    <td>cell 3</td>
                    <td>cell 4</td>
                </tr>
            </tbody>
        </table>
    params:
        - $width
        - $borderColor
        - $cellPadding
        - $oddBackground
        - $evenBackground
        - $radius
*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  padding: 0; }
  body > header > div,
  body > section > div,
  body > footer > div {
    display: block;
    width: 955px;
    margin: 0 auto; }

a {
  color: #08c; }

@media screen and (max-width: 1000px) {
  body {
    padding: 0; }
    body > header > div,
    body > section > div,
    body > footer > div {
      display: block;
      width: auto;
      padding-left: 2em;
      padding-right: 2em; } }
body > header {
  color: #fff;
  padding: 0;
  background-color: #474747;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -ms-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(top, #555555, #333333);
  background-repeat: repeat-x; }
  body > header * {
    font-size: 100%; }
  body > header > div {
    display: block;
    line-height: 3em; }
    body > header > div * {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0; }
    body > header > div a {
      height: 3em;
      padding: 0 0.5em;
      text-decoration: none;
      color: #dddddd; }
      body > header > div a:visited {
        color: #dddddd; }
      body > header > div a:hover, body > header > div a:focus, body > header > div a:active {
        outline: none;
        color: white; }
    body > header > div .current {
      background: #111111; }
      body > header > div .current, body > header > div .current:visited {
        color: white; }
    body > header > div > h1 {
      margin: 0;
      font-weight: normal; }

body > section a:hover,
body > section a:active,
body > footer a:hover,
body > footer a:active {
  color: #005580; }
